github:
  key: "1"
  secret: "1"  

daemon:
  username: rpcuser
  password: rpcpassword
  host: localhost
  port: 9904
  path: /path/to/ppcoin/src/ppcoind

devise:
  secret: "1"

application:
  secret: "1"

smtp_settings:
  address:              smtp.mxhichina.com
  port:                 587
  domain:               coffee4commit.com
  user_name:            noreply@coffee4commit.com
  password:             MY_PASSWORD
  authentication:       plain
  enable_starttls_auto: true

default_from: noreply@coffee4commit.com
send_all_emails_to: # put an email here if you're testing and you don't want any email sent to others
exception_email: admin@example.com # an email will be sent to this address if an unhandled exception occurs

# Uncomment to use airbrake/errbit

# airbrake:
#   api_key: 111111111111
#   host: errbit.tip4commit.com

tip: 0.01
min_payout: 1.0 # in CFC
our_fee: 0.05
tipper_delay: "1.hour"

address_versions: # 27/140 for CoffeeCoin, 111/196 for testnet, see base58.h
  - 27
  - 140

# canonical_host: peer4commit.example.com # will redirect all other hostnames to this one
